{{define "layout"}}
<!doctype html>
<html lang='cz'>
  <head>
    <meta charset='utf-8'>
    <title>BOSS - {{template "title" .}}</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Tangerine'>
    <link rel='stylesheet' href='/static/default.css'>
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'>
  </head>
  <body>
    <header>
      <h1>BOSS - Bowling Online Score System - Administrace</h1>
      <a href="/players">Hráči </a>
      <a href="/tournaments">Turnaje </a>
      <a href="/reservations">Obsazovačky </a>
    </header>
    <nav>
      {{block "menu" .}}
      <p>Default menu content</p>
      {{end}}
    </nav>
    <main>
      {{block "main" .}}
      <p>Default main content</p>
      {{end}}
    </main>
    <footer>
      @VtG 2022 - {{.CurrentYear}} 
    </footer>
    <script src="/static/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
